/*
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*/

@font-face { font-family: 'NanumMyeongjo'; src: url(../fonts/NanumMyeongjo-ExtraBold.ttf) format('truetype'); }
@font-face { font-family: 'NanumMyeongjo'; src: url(../fonts/NanumMyeongjo-Bold.ttf) format('truetype'); }
@font-face { font-family: 'NanumMyeongjo'; src: url(../fonts/NanumMyeongjo-Regular.ttf) format('truetype'); }
@font-face { font-family: 'NotoSansKR'; src: url(../fonts/NotoSansKR-Bold.otf) format('opentype'); }
@font-face { font-family: 'NotoSansKR'; src: url(../fonts/NotoSansKR-Regular.otf) format('opentype'); }



body, .content, .content > p, #content, #content > p, .entry-title {
   font-family: 'NanumMyeongjo', serif;
 }

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, submit
{
  border:none;
}

h1 {
  font-family: 'NanumMyeongjo', serif;
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.6;
  color: #0D3A07;
  padding-top: 16px;
}

h2 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #8E8E8E;
}

h3 {
  font-family: 'NanumMyeongjo', serif;
  font-size: 16px;
  font-weight: bold;
  color: #867512;
}

h4{
  font-family: 'NotoSansKR', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  color: #6F6F6F;
}

h5 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #8E8E8E;
  padding-top: 12px;
}

h6 {
  font-family: 'NanumMyeongjo', serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.8;
  color: #6F6F6F;
  padding-top: 28px;
  opacity: 0.8;
}

/*
------------------------------------
GNB
------------------------------------
*/
#header {
  width: 100%;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 92px;
  background-color: #F7F7F7;
  z-index: 999;
}

.logo-button {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 206px;
  height: 60px;
  background: url('../img/logo.png') no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.menu-button {
  position: absolute;
  top: 37px;
  right: 20px;
  width: 24px;
  height: 18px;
  background: url('../img/menu.png') no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


/*
------------------------------------
CONTENT_TOP
------------------------------------
*/

.wrapper {
  padding-top: 92px;
  background-color: #F7F7F7;
}

#top{
  box-sizing: border-box;
  display: block;
  width: 100vw;
  height: calc(100vh - 92px);
  /*
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  /*height: calc((var(--vh, 1vh) * 100) - 92px);*/
}

.top_bg {
  overflow: hidden;
  width: inherit;
  height: inherit;
  background: linear-gradient(180deg, rgba(2,25,0,0.8) 0%, rgba(2,25,0,0.1) 100%), url("../img/top_bg.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  box-sizing: border-box;
}

.top_title {
  position: absolute;
  top: 10%;
  left: 20px;
}

.top_title h1 {
  position: relative;
  font-family: 'NanumMyeongjo', serif;
  font-size: 34px;
  font-weight: bolder;
  text-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding-top: 0;
}

.top_title h2 {
  position: relative;
  top: 4px;
  font-family: 'NanumMyeongjo', serif;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
  color: #C0B056;
}

.top_title h3 {
  position: relative;
  top: 24px;
  left: 2px;
  font-family: 'NanumMyeongjo', serif;
  font-size: 12px;
  font-weight: bolder;
  color: #ffffff;
  opacity: 0.7;
  width: 284px;
  height: 72px;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  line-height: 2;
  letter-spacing: 0.4px;
}
/*
------------------------------------
CONTENT_TOP
------------------------------------
*/



/*
------------------------------------
CONTENT_2
------------------------------------
*/
.second_content{
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  overflow: auto;
  width: 100%;
  background-color: #F7F7F7;
  padding-bottom: 100px;
}

.title{
  padding: 100px 20px 40px 20px;
  width: calc(100vw - 40px);
}

.title_btn {
  padding-top: 48px;
}

.underline_border {
  width: 124px;
  height: 1px;
  margin-top: 8px;
  background-color: #C1A91F;
}

.box{
  box-sizing: border-box;
  margin-top: 28px;
  margin-left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vw - 40px);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h6{
  width: calc(100vw - 88px);
}


/*
------------------------------------
CONTENT_3
------------------------------------
*/

.third_content{
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  overflow: auto;
  width: 100%;
  background-color: #fff;
  padding-bottom: 40px;
}

.third_img{
  height: calc(100vw - 40px);
}

.third_content .third_img .box{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-left: 0px;
  background-image: url("../img/img2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.third_content .title{
  padding-top: 40px;
}

.third_content .title h6{
  padding-top: 24px;
}

.third_content .title .title_btn{
  padding-top: 24px;
}

.bg_block{
  position: absolute;
  background-color: #F7F7F7;
  width: 100vw;
  height: 150px;
}